<div class="element-bg-img">
  <img src="{{chosenPlanet?.img}}" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a href="#" (click)="setFilterMode(filterModes.ALL)">все</a></li>
      <li><a href="#" (click)="setFilterMode(filterModes.ONLY_WITH_SATELLITES)">со спутниками</a></li>
      <li><a href="#" (click)="setFilterMode(filterModes.NO_SATELLITES)">без спутников</a></li>
    </ul>
  </div>
  <div class="village">
    <div class="activity_box">
      <div class="scrollbar" id="style-2" ng>
        <app-card *ngFor="let planet of list | planetFilter:filtermode; let isOdd=odd"
          [planet]="planet"
          [isOdd]="isOdd"
          (click)="choose(planet)"
        ></app-card>
      </div>
    </div>
  </div>
</div>